 html{
    scroll-behavior: smooth;
    overflow: hidden;
}

body{
    background: url("../images/background3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    border-radius: 10px;
    background: grey;
    color: honeydew;
    opacity: 0.5;
    text-align: center;
}

.formulario {
    display: flex;
    text-align: center;
    float:right;
    padding: 30px;
    border-radius: 15px;
    margin-right: 80px;
    width: 30%;
    height: 50%;
    background: url(../images/back_form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.input {
    padding: 5px;
    font-size: 1.2rem;
    margin: 6px;
    border-radius: 10px;
}

.button {
    margin: 10px;
    color: cornsilk;
    border-radius: 8px;
    background: chocolate;
    float: right;
    font-size: 1.4rem;
    padding: 10px;
}